{% extends 'base_with_navbar.html' %}

{% block meta %}
<title>Login</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
{% endblock meta %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

{% block login_button %} 
<button class="button-login" >Daftar</button>
<script>
    $('.button-login').click(function () {
        location.href = "{% url 'user:register' %}";
    });
</script>
{% endblock login_button %}

{% block container %}
<div class="outer">
    <div class="login container d-flex flex-column justify-content-center align-items-center vh-100">

        <h3 class="mb-4">Login</h3>

        <form method="POST" action="" class="form-horizontal col-sm-8 col-md-6 col-lg-3">
            {% csrf_token %}

            <div class="control-group error">
                <div class="controls mb-3">
                    <input type="text" name="username" placeholder="Username" class="form-control">
                </div>
            </div>

            <div class="control-group error">
                <div class="controls mb-3">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
            </div>

            {% if messages %}
            {% for message in messages %}
            <p><small class="text-danger">{{ message }}</small></p>
            {% endfor %}
            {% endif %}


            <div class="d-flex justify-content-center">
                <input class="btn btn-success mb-3" type="submit" value="Login">
            </div>
            </table>
        </form>



        Belum mempunyai akun? <a href="{% url 'user:register' %}">Buat Akun</a>

    </div>
</div>

{% endblock container %}