{% extends 'base_bootstrap.html' %}

{% block title %}
{% endblock title %}

{% block login_button %} 
<a class="btn btn-outline-primary text-light" href="{% url 'user:register' %}">Register</a>
{% endblock login_button %}

{% block content %}
<div class="outer">
    <div class="login container d-flex flex-column justify-content-center align-items-center vh-100">

        <h3 class="mb-4">Login</h3>

        <form method="POST" action="" class="form-horizontal col-sm-8 col-md-6 col-lg-3">
            {% csrf_token %}

            <div class="control-group error">
                <div class="controls mb-3">
                    <input type="text" name="username" placeholder="Username" class="form-control">
                </div>
            </div>

            <div class="control-group error">
                <div class="controls mb-3">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
            </div>

            {% if messages %}
            {% for message in messages %}
            <p><small class="text-danger">{{ message }}</small></p>
            {% endfor %}
            {% endif %}


            <div class="d-flex justify-content-center">
                <input class="btn btn-primary mb-3" type="submit" value="Login">
            </div>
            </table>
        </form>



        Belum mempunyai akun? <a href="{% url 'user:register' %}">Buat Akun</a>

    </div>
</div>

{% endblock content %}