{% extends 'base_bootstrap.html' %}
{% load static %}

{% block content %}
<div class="container justify-content-center">
    <form id="edit-profile-form">
        {% csrf_token %}
        <div class="text-center">
            <h3 class="display-3">Edit Profil</h3>
        </div>
        <section>
            <div class="col-lg-8 mt-5 w-100">
                <!-- <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Username</p>
                        </div>
                        <div class="col-sm-9" id="username">
                            <input type="text" id="username-input" name="username" value="{{ user.username }}"
                                readonly><br>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">First name</p>
                        </div>
                        <div class="col-sm-9" id="firstname">
                            <input type="text" id="firstname-input" name="firstname" value="{{ user.first_name }}"
                                readonly><br>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Last name</p>
                        </div>
                        <div class="col-sm-9" id="lastname">
                            <input type="text" id="lastname-input" name="lastname" value="{{ user.last_name }}"
                                readonly><br>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9" id="email">
                            <input type="text" id="email-input" name="email" size="40" value="{{ user.email }}"
                                readonly><br>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Tanggal Lahir</p>
                        </div>
                        <div class="col-sm-9" id="tanggal">
                            <input type="datetime-local" id="tanggal-input" name="tanggal" size="40"
                                value="{{ user_detail.tanggal_lahir }}" readonly><br>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Bio Singkat</p>
                        </div>
                        <div class="col-sm-9" id="bio">
                            <input type="text" id="bio-input" name="bio" size="40" value="{{ user_detail.bio_singkat }}"
                                readonly><br>
                        </div>
                    </div>
                </div>
            </div> -->
                {% for field in user_form %}
                {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        {% for error in field.errors %}
                        <div class="help-inline">
                            <small class="text-danger">{{ error }}</small>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="control-group mt-2">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}


                {% for field in user_detail_form %}
                {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        {% for error in field.errors %}
                        <div class="help-inline">
                            <small class="text-danger">{{ error }}</small>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="control-group mt-2">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <div class="text-center mb-5">
            <button type="submit" class="btn btn-primary mt-5" id="submit-button">Submit Changes</button>
        </div>

    </form>
</div>

<script src="{% static 'js/profile_edit.js' %}"></script>

{% endblock content %}
