{% extends 'base_bootstrap.html' %}



{% block content %}

<div class = "login container vh-100 d-flex flex-column justify-content-center align-items-center">
    

    <form class="form-horizontal col-sm-8 col-md-6 col-lg-3" method="POST">{% csrf_token %}
        <fieldset>
            <legend class="d-flex align-items-center justify-content-center">Registrasi Akun</legend>
            {% for field in form %}
                {% if field.errors %}
                    <div class="control-group error">
                        <label class="control-label">{{ field.label }}</label> 
                        <div class="controls">{{ field }}
                            {% for error in  field.errors %}
                            <div class="help-inline">
                                <small class="text-danger">{{ error }}</small>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label> 
                        <div class="controls">{{ field }}
                            {% if field.help_text %}
                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        <div class="form-actions d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" value="Daftar" >Daftar</button>
        </div>
    </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}
