{% extends 'base_with_navbar_fixed.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/form_page.css'%}">

<div class="form-container" id="form-col">
    <h2>Kirim Pertanyaan</h2>

    <div class="container col-lg-8 row-lg-8">
        <form id="form_faq" name="form_faq" method="POST" action="">
            {% csrf_token %}
            <div class="mb-3 form-row">
                <div class="mr-3 form-col" id="name">
                    {{ form.name.label }}
                    {{ form.name }}
                </div>

                <div class="form-col" id="email">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
            </div>

            <div class="mb-3" id="question">
                {{ form.question.label }}
                {{ form.question }}
            </div>
            
            <button id="submit-btn" class="btn-ask" type="submit" data-toggle="modal" data-target="#exampleModal">Kirim</button>
        </form>
    </div>
</div>

<div id="exampleModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/1443/1443000.png">
                </div>

                <h4 class="modal-title w-100">Thank You!</h4>
            </div>

            <div class="modal-body">
                <p>Your question has been successfully submitted.</p>
            </div>

            <div class="modal-footer">
                <div clas="container" style="display:flex; padding: 20px;">
                    <div style="padding-left: 10px;">
                        <button class="btn btn-danger btn-block" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $('.modal').modal('show');
    });

    async function getQuestion() {
        return fetch("{% url 'canwe:show_json' %}")
        .then(response => response.json())
        .then(param => {
            return param;
        })
        .catch(error => {
            console.error("ERROR:", error);
        })
    }

    async function refreshForm() {
        getQuestion().then(param => {
            let todos = "";

            for (let i = 0; i < param.length; i++) {
                const card = `
                <div class="card-question">
                    <h3 class="card-title">${param[i].fields.name}</h3>
                    <p class="text-muted">${param[i].fields.email}</p>
                    <p class="card-description">${param[i].fields.question}</p>
                    <a class="btn-delete card_btn" href="/delete/${param[i].pk}">
                        <span><i class="fa fa-trash"></i>
                            Delete
                        <span>
                    </a>
                </div>
                `;

                todos += card;
            }

            document.getElementById("display-pertanyaan").innerHTML = todos;
        });
    }

    function addQuestion() {
        fetch("{% url 'canwe:add_question' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form_faq'))
        }).then(refreshForm)

        document.getElementById("#form_faq").reset();
        return false
    }

    document.getElementById("submit-btn").onclick = addQuestion
    refreshForm()
</script>

{% endblock content %}