{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/landing_page.css'%}">

<!-- Hero Section -->
<section id="hero">
    <div class="hero-section">
        <div class="contains">
            <h1>Selamat Datang di CanWe!</h1>

            <a id="btn-hero" href="#about1">Get to know more
              <span>
                <ion-icon name="arrow-down-outline"></ion-icon>
              </span>
            </a>
        </div>
    </div>
</section>

<!-- About CanWe Section -->
<section id="about1">
  <div class="section-about">
      <div class="row">
          <div class="col-12">
            <p>
            Menurut Global Hunger Index (GHI), tingkat kelaparan Indonesia menempati urutan ketiga tertinggi di Asia Tenggara pada 2021. Indonesia mendapatkan skor indeks sebesar 18 poin atau termasuk ke dalam level moderat. GHI menggambarkan situasi kelaparan suatu negara yang berhubungan dengan kebutuhan dasar fisiologis manusia, yaitu kebutuhan pangan dan nutrisi. Skor indeks GHI didasarkan pada empat komponen, yaitu kondisi kurang gizi, anak yang kurus, stunting anak, dan kematian anak.
            </p>
          </div>
      </div>
  </div>
</section>

<!-- Photo Carousel -->
<div class="slidershow middle" id="photos">
  <div class="slides">
    <input type="radio" name="r" id="r1" checked>
    <input type="radio" name="r" id="r2">
    <input type="radio" name="r" id="r3">
    <input type="radio" name="r" id="r4">
    <input type="radio" name="r" id="r5">
    <input type="radio" name="r" id="r6">

    <div class="slide s1">
      <img src="https://images.unsplash.com/photo-1604250015955-42fc0bd204f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" alt="Picture 1">
    </div>

    <div class="slide">
      <img src="https://images.unsplash.com/photo-1627223160302-db88fc808907?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Picture 2">
    </div>

    <div class="slide">
      <img src="https://images.unsplash.com/photo-1518980065353-d484da071b8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Picture 3">
    </div>

    <div class="slide">
      <img src="https://images.unsplash.com/photo-1533285962792-0c3c5e9cb0d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Picture 4">
    </div>

    <div class="slide">
      <img src="https://images.unsplash.com/photo-1542562755-7c6b4617ca9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Picture 5">
    </div>

    <div class="slide">
      <img src="https://images.unsplash.com/photo-1641621367614-3cd5549a8474?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80" alt="Picture 6">
    </div>

    <div class="navigation-auto">
      <div class="auto-btn1"></div>
      <div class="auto-btn2"></div>
      <div class="auto-btn3"></div>
      <div class="auto-btn4"></div>
      <div class="auto-btn5"></div>
      <div class="auto-btn6"></div>
    </div>
  </div>

  <div class="navigation">
    <label for="r1" class="bar"></label>
    <label for="r2" class="bar"></label>
    <label for="r3" class="bar"></label>
    <label for="r4" class="bar"></label>
    <label for="r5" class="bar"></label>
    <label for="r6" class="bar"></label>
  </div>
</div>

<script>
  var counter = 1;
  setInterval(function() {
    document.getElementById('r' + counter).checked = true;
    counter++;
    if (counter > 6){
      counter = 1;
    }
  }, 5000);
</script>

<!-- About CanWe Section -->
<section id="about2">
  <div class="section-about">
      <div class="row">
          <div class="col-12">
              <p>
                CanWe hadir untuk membantu menanggulangi permasalahan yang dihadapi masyarakat Indonesia dalam memenuhi kebutuhan pangan dan nutrisi. CanWe merupakan situs yang bertujuan untuk mengumpulkan donasi dan penggalangan dana agar dapat meningkatkan kualitas hidup anak-anak dan keluarga yang membutuhkan dengan menyediakan makanan sehat dan pendidikan gizi. Melalui CanWe, kami berharap dapat memastikan bahwa lebih banyak anak yang tidak hanya dapat bertahan, melainkan berkembang, hari ini, dan seterusnya.
              </p>
          </div>
      </div>
  </div>
</section>

<!-- Features Section -->
<section id="features">
  <h2>Layanan Kami</h2>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1437914983566-976d85602771?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" height="300px" class="card-img-top" alt="Donasi"/>
        <div class="card-body">
          <h3 class="card-title">Donasi</h3>
          <p class="card-description">
            Dengan melakukan donasi, kamu turut berpartisipasi dalam meningkatkan kualitas hidup anak-anak dan keluarga yang membutuhkan.
          </p>
          <a class="btn card_btn" href="/donasi/">Lebih lanjut tentang donasi</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" height="300px" class="card-img-top" alt="Galang dana"/>
        <div class="card-body">
          <h3 class="card-title">Galang Dana</h3>
          <p class="card-description">
            Dengan membuat penggalangan dana, kamu akan menjadi perantara untuk meningkatkan kualitas hidup anak-anak dan keluarga yang membutuhkan.
          </p>
          <a class="btn card_btn" href="/galang-dana/">Lebih lanjut tentang galang dana</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FAQ -->
<section class="faq-container">
    <h2 class="faq-heading">Frequently Asked Questions</h2>
    <div class="faq-one">
        <h5 class="faq-page">Bagaimana mekanisme donasi pada CanWe?</h5>
        <div class="faq-body">
            <p>Kamu tinggal memilih donasi mana yang ingin dilakukan, lalu
              ikuti langkah-langkah yang telah disediakan!
            </p>
        </div>
    </div>
      
    <hr class="hr-line">

    <div class="faq-two">
        <h5 class="faq-page">Apakah CanWe dapat dipercaya?</h5>
        <div class="faq-body">
            <p>Ya, CanWe sangat dapat dipercaya untuk kamu gunakan dalam memilih donasi
              dan melakukan penggalangan dana.
            </p>
        </div>
    </div>

    <hr class="hr-line">
    
    <div class="faq-three">
        <h5 class="faq-page">Dimana saya bisa mendownload aplikasi CanWe?</h5>
        <div class="faq-body">
            <p>Sangat disayangkan, untuk saat ini CanWe hanya tersedia dalam bentuk website saja.
              Nantikan terus update dari CanWe terkait mobile app yang sedang dikembangkan yaa!
            </p>
        </div>
    </div>
    
    {% if user.is_staff %}
    <div class="btnfaq" style="text-align: center;">
      <a class="btn-faq" href="{% url 'canwe:question_page' %}">Lihat Pertanyaan</a>
    </div>
    {% else %}
    <div class="btnfaq" style="text-align: center;">
      <a class="btn-faq" href="{% url 'canwe:form_page' %}">Kirim Pertanyaan</a>
    </div>
    {% endif %}

</section>

<!-- Responsive FAQ -->
<script>
    var faq = document.getElementsByClassName("faq-page");
    var i;

    for (i = 0; i < faq.length; i++) {
        faq[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var body = this.nextElementSibling;
            if (body.style.display === "block") {
                body.style.display = "none";
            } else {
                body.style.display = "block";
            }
        });
    }
</script>

{% endblock content %}