{% extends 'base_with_navbar_fixed.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/question_page.css'%}">

<div class="list-question">
  <h2> Daftar Pertanyaan </h2>

  <!-- show question -->
  <div class="main-container">
    <div class="display-pertanyaan" id="display-pertanyaan">
        
    </div>
  </div>

  <form id="form_faq" name="form_faq" method="POST" action="">
    {% csrf_token %}
    <div class="mb-3 form-row">
      <div class="mr-3 form-col" id="name"></div>
      <div class="form-col" id="email"></div>
    </div>
    <div class="mb-3" id="question"></div>
    <button id="submit-btn"></button>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  $(document).ready(function(){
    $('.modal').modal('show');
  });

  async function getQuestion() {
    return fetch("{% url 'canwe:show_json' %}")
    .then(response => response.json())
    .then(param => {
        return param;
    })
    .catch(error => {
        console.error("ERROR:", error);
    })
  }

  async function refreshForm() {
    getQuestion().then(param => {
        let todos = "";

        for (let i = 0; i < param.length; i++) {
            const card = `
            <div class="card-question">
                <h3 class="card-title">${param[i].fields.name}</h3>
                <p class="text-muted">${param[i].fields.email}</p>
                <p class="card-description">${param[i].fields.question}</p>
                <a class="btn-delete card_btn" href="/delete/${param[i].pk}">
                    <span><i class="fa fa-trash"></i>
                        Delete
                    <span>
                </a>
            </div>
            `;

            todos += card;
        }

        document.getElementById("display-pertanyaan").innerHTML = todos;
    });
  }

  function addQuestion() {
    fetch("{% url 'canwe:add_question' %}", {
        method: "POST",
        body: new FormData(document.querySelector('#form_faq'))
    }).then(refreshForm)

    document.getElementById("#form_faq").reset();
    return false
  }

  document.getElementById("submit-btn").onclick = addQuestion
  refreshForm()
</script>

{% endblock content %}