{% extends 'base_galang_dana.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'css/style_galang_dana.css' %}" rel="stylesheet"/>
<script src="{% static 'js/galang-dana.js' %}"></script>
{% endblock meta %}

{% block content %}
<section id="galang-dana-content">
    <div id="gd-sec1">
        <div id="gd-sec1-content">
            <p>Ada</p>
            <h1 id="donatur-count"></h1>
            <p>donatur yang siap membantu Anda!</p>
            <a class="btn" href="/galang-dana/create/">Galang Dana Sekarang</a>    
        </div>
    </div>

    <div id="gd-sec2">
        <h5>Membuat penggalangan dana itu mudah, lho</h5>
        <!-- jelasin step2nya gt, pake cards ato yg lain gt mungkin -->
    </div>

    <div id="gd-sec3">
        <h3>Butuh bantuan?</h3>
        <h2>Yuk, galang dana sekarang!</h2>
        <br>
        <a class="btn" href="/galang-dana/create/">Buat Penggalangan Dana</a>    
    </div>

</section>
{% endblock content %}