{% extends 'base.html' %}

{% block css %}
<style>
    nav {
        background: var(--pr-color);
    }
    #galang-dana-content {
        padding-top: 70px;
        padding-bottom: 100px;
        text-align: center;
    }
    #gd-sec1 {
        max-width: 100%;
        height: 80vh;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/EyvF0jkPg/videoblocks-young-man-with-beard-and-glasses-standing-in-street-and-looking-at-camera-guy-seriously-looks-and-then-starts-to-smile_r24oy5qol_thumbnail-1080_01.png') no-repeat center / cover;
        color: white;
        margin: auto;
    }
    #gd-sec1-content {
        padding: 20vh 0;
        width: 80%;
        height: 100%;
        max-width: 1000px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .btn {
      text-decoration: none;
      color: #fff;
      background: var(--pr-color);
      padding: 10px 30px;
      border-radius: 8px;
      display: inline-block;
    }
    .btn:hover {
      color: whitesmoke;
      background-color: var(--scd-color);
      transition: all 0.2s ease-in-out;
    }
    #gd-sec2 {
        padding-top: 50px;
    }
    #gd-sec3 {
        padding-top: 50px;
    }
</style>
{% endblock css %}


{% block content %}
<section id="galang-dana-content">
    <div id="gd-sec1">
        <div id="gd-sec1-content">
            <p>Ada</p>
            <h1 id="donatur-count"></h1>
            <p>donatur yang siap membantu Anda!</p>
            <a class="btn" href="/galang-dana/create/">Galang Dana Sekarang</a>    
        </div>
    </div>

    <div id="gd-sec2">
        <h5>Membuat penggalangan dana itu mudah, lho</h5>
        <!-- jelasin step2nya gt, pake cards ato yg lain gt mungkin -->
    </div>

    <div id="gd-sec3">
        <h3>Butuh bantuan?</h3>
        <h2>Yuk, galang dana sekarang!</h2>
        <br>
        <a class="btn" href="/galang-dana/create/">Buat Penggalangan Dana</a>    
    </div>

</section>

<script>
    async function getUser() {
        return fetch("/galang-dana/get-user-count/").then((res) => res.json())
    }
    async function showUserCount() {
        const user = await getUser()
        let userCount = user.length

        document.getElementById("donatur-count").innerHTML = userCount
    }
    showUserCount()
    setInterval(showUserCount, 1000)
</script>
{% endblock content %}


<!-- 
    TODO: implement ajax get
 -->


<!-- 
Gambaran Kasar:



        (suatu content)
        mungkin: Ada {{count}} donatur yang siap membantu anda
        tombol(Galang Dana Sekarang)



    Cara melakukan penggalangan dana (masing2 pake card)
    1. pilih jenis
    2. masukan data penggalangan dana
    3. tunggu acc
    4. yey ter up



    Tips supaya penggalangan dana diterima
    1. sampaikan fakta
    2. kenapa ga bisa pakai biaya sendiri
    3. kenapa harus dibantu orang gt
    dll gitulah gatau intinya begitu

    

    Butuh bantuan? Yuk, galang dana!
 -->