:root {
  --bg-color: #F3FFF4;
  --pr-color: #048353;
  --scd-color: #01492E;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

/* Navbar Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 70px;
  width: 100%;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
}

nav.sticky {
  position: fixed;
  background: var(--pr-color);
  transition: all ease-in-out .3s;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

.item.menus a:hover {
  background: white;
  color: var(--scd-color);
  border-radius: 6px;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
}

.menu li a {
  display: block;
}

.logo a {
  font-size: 25px;
  font-weight: 700;
}

.logo a:hover {
  color: white;
}

/* Mobile Menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.item.menus.active {
  display: block;
  background: var(--pr-color);
}

.toggle {
  cursor: pointer;
}

.bars {
  background: white;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before, .bars::after {
  background: white;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}

.bars::before {
  top: 5px;
}

.bars::after {
  top: -5px;
}

/* Tablet Menu */
@media all and (min-width:468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    text-decoration: none;
    padding: 7px 15px;
    background: white;
    color: var(--pr-color);
    border-radius: 8px;
  }

  .button.secondary a {
    background: var(--scd-color);
    color: white;
  }

  .button a:hover {
    transition: all .25s;
    color: white;
    background: var(--scd-color);
  }

  .button.secondary a:hover {
    background: white;
    color: var(--scd-color);
  }
}

/* Desktop Menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}

/* Footer */
.footer {
  padding: 40px 0;
  background-color: var(--pr-color);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul a:hover {
  opacity: 1;
  color: white;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: whitesmoke;
}