{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style_donasi.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock css %}


{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark nav-color position-fixed w-100">
  <div class="container">
    <a class="navbar-brand" href="/canwe">
      <span class="myapp me-2">CanWe</span>
      <img src="https://cdn-icons-png.flaticon.com/128/2904/2904948.png" width="30" height="30">
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-2">
          <a class="nav-link" href="/donasi">Donasi</a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Galang Dana</a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Histori</a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link" href="/notifikasi">Notifikasi</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item mx-2">
          <a class="nav-link" href="/user/profile">Profil</a>
        </li>
        {% endif %}
      </ul>

    </div>
    <form class="form-inline btn-group">
      {% if user.is_staff %}
      <div class="mr-3">
        <button type="button" class="button-login">
          <a class="button-login" href="{% url 'user:moderator' %}">Moderator</a>
        </button>
      </div>
      {% endif %}

      {% if user.is_authenticated %}
      <div class="pl-2">
        <button type="button" class="button-login">
          <a class="button-login" href="{% url 'user:logout' %}">Logout</a>
        </button>
      </div>
      {% else %}
      <div>
        <button type="button" class="button-login">
          <a class="button-login" id="loginbtn" href="{% url 'user:login_user' %}">Login</a>
        </button>
      </div>
      {% endif %}
    </form>
  </div>
</nav>

<!-- Hero Section -->
<section id="hero">
  <div class="hero-section">
    <div class="contains">
    </div>
  </div>
</section>

<div class="text-center">
  <h3 class="display-3">{% block display_heading %}{% endblock display_heading %}</h3>
</div>

<!-- Donation Cards Section -->
<section id="donasi">
  <div class="donasi" style="margin: 60px;">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2 style="text-align: left;">
          Donasi Makanan
        </h2>
      </div>
    </div>

    <div id="card-makanan">
    </div>

    <div class="row" style="margin-top: 50px;">
      <div class="col-12 col-md-12">
        <h2 style="text-align: left;">
          Donasi Penyuluhan Pendidikan Gizi
        </h2>
      </div>
    </div>

    <div id="card-pendidikan">
    </div>
    {% for donas in donasi %}
    <img src="{{donas.foto.url}}" alt="Smiley face" width="250" height="250">
    {% endfor %}

  </div>
</section>

{% block script %}
<script>

  async function getDataDonasi() {
    return fetch("{% url 'donasi:get_data_donasi' %}").then((result) => result.json())
  }

  async function showDonasi() {
    document.getElementById('card-makanan').innerHTML = ""
    document.getElementById('card-pendidikan').innerHTML = ""
    const dataDonasi = await getDataDonasi()

    let cardMakanan = ``
    let cardPendidikan = ``
    let temp = ``
    let counterMakanan = 0
    let counterPendidikan = 0

    dataDonasi.forEach(donasi => {
      console.log(donasi.fields.urlFoto)

      temp = `\n
            <div class="col-12 col-md-4" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="picture">
                        <img src="{% static fields.urlFoto %}" height=80px>
                    </div>
        
                    <div class="card-content">
                        <div style="align-items: left;">
                            <h3 class="title">${donasi.fields.nama}</h3>
                            <p class="description">${donasi.fields.deskripsi}</p>
                        </div>
                        <button class="button-card">
                            <a href="#" style="text-decoration: none; color: white;">
                                Lakukan Donasi
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            `

      if (donasi.fields.tipe == "Makanan") {
        if (counterMakanan % 3 == 0) {
          cardMakanan += `\n<div class="row">`
        }

        cardMakanan += temp
        counterMakanan++

        if (counterMakanan % 3 == 0) {
          cardMakanan += `\n</div>`
        }
      }

      if (donasi.fields.tipe == "Pendidikan") {
        if (counterPendidikan % 3 == 0) {
          cardPendidikan += `\n<div class="row">`
        }

        cardPendidikan += temp
        counterPendidikan++

        if (counterPendidikan % 3 == 0) {
          cardPendidikan += `\n</div>`
        }
      }
    });

    document.getElementById('card-makanan').innerHTML = cardMakanan
    document.getElementById('card-pendidikan').innerHTML = cardPendidikan
  }

  showDonasi()
</script>
{% endblock script %}


{% endblock content %}