{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  {% endblock meta %}

  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <!-- Icon -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

  <!-- My Style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% block css %}
  {% endblock css %}

</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  
  <!-- Navbar -->
  <header>
    <a class="brand" href="/canwe">
      <span>CanWe</span>
      <img src="https://cdn-icons-png.flaticon.com/128/2904/2904948.png" width="30" height="30">
    </a>

    <div class="menu">
      <div class="btn">
        <i class="fas fa-times close-btn"></i>
      </div>

      <a href="/donasi/">Donasi</a>
      <a href="#">Galang Dana</a>
      <a href="#">Histori</a>
      <a href="/notifikasi">Notifikasi</a>

      {% if user.is_authenticated == False %}
      <a id="login" href="{% url 'user:login_user' %}">Login</a>
      {% endif %}

      {% if user.is_staff %}
      <a id="login" href="{% url 'user:moderator' %}">Moderator</a>
      {% endif %}
    </div>

    <div class="btn">
      <i class="fas fa-bars menu-btn"></i>
    </div>
  </header>

  <script type="text/javascript">
    window.addEventListener("scroll", function() {
      var header = document.querySelector("header");
      header.classList.toggle('sticky', window.scrollY > 0);
    });

    var menu = document.querySelector('.menu');
    var menuBtn = document.querySelector('.menu-btn');
    var closeBtn = document.querySelector('.close-btn');

    menuBtn.addEventListener("click", () => {
      menu.classList.add('active');
    })

    closeBtn.addEventListener("click", () => {
      menu.classList.remove('active');
    })
  </script>

  {% block content %}{% endblock %}

  <!-- Footer -->
  <section class="footer">
    <ul class="list">
      <li>
        <a href="/canwe/">Home</a>
      </li>

      <li>
        <a href="/donasi/">Donasi</a>
      </li>

      <li>
        <a href="#">Galang Dana</a>
      </li>

      <li>
        <a href="#">Histori</a>
      </li>

      <li>
        <a href="/notifikasi/">Notifikasi</a>
      </li>

      <li>
        <a href="{% url 'user:login_user' %}">Login</a>
      </li>
    </ul>

    <p class="copyright">
      Made with
      <span>
        <ion-icon name="heart"></ion-icon>
      </span> and <span>
        <ion-icon name="sad"></ion-icon>
      </span>
      from Kelompok D-05
    </p>
  </section>

</body>

</html>