{% extends 'base_with_navbar.html' %}

{% block css %}
<style>
    :root {
      /* primary color */
      --pr-color : #048353; 
      --scd-color : #01492E;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background-color: #F3FFF4;
    }

    /* Navbar Style */
    .navbar-brand {
      font-weight: 700;
      font-size: 20px;
    }

    .nav-link {
      font-size: 16px;
    }

    .button-login {
      width: 107px;
      height: 40px;
      background-color: #fff;
      color: var(--pr-color);
      border: none;
      font-size: 16px;
      font-weight: 700;
      border-radius: 8px;
    }

    .nav-color {
      background-color: var(--pr-color);
      transition: all ease-in-out .3s;
    }

    .bg-transparent {
      transition: all ease-in .3s;
    }

    nav {
      z-index: 9999;
    }

    /* Hero Section */
    #hero {
      width: 100%;
      background: linear-gradient(F3FFF4, F3FFF4), no-repeat center / cover;
      color: white;
    }

    .hero-section {
      width: 80%;
      height: 100%;
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .hero-section .contains a {
      text-decoration: none;
      color: #fff;
      background: var(--pr-color);
      padding: 10px 30px;
      border-radius: 8px;
      margin-top: 10px;
      display: inline-block;
      margin-top: 1rem;
    }

    /* Pembayaran */
    #pembayaran {
        margin-top: 50px;
        padding: 4vh 7vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .button-back {
        color: var(--pr-color);
        text-decoration: none;
    }

    .glass {
        background-color: rgba(246, 255, 247, 0.719);
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }

    /* Donasi */
    #donasi {
        padding: 20px 40px;
        margin: 40px;
        min-width: fit-content;
        align-items: left;
        display: flex;
        flex-direction: column;
    }

    #donasi h2 {
        font-size: 45px;
        color: #29452a;
        font-weight: bold;
        margin-top: 10px;
    }

    #donasi h3 {
        font-size: 38px;
        color: var(--pr-color);
        color: #426246;
        margin-top: 60px;
        font-weight: bold;
    }

    #donasi #deskripsi {
        text-align: justify;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 80px;
        color: rgb(80, 80, 80);
    }

    #donasi #nominal {
        font-size: 15px;
        font-weight: bold;
        color: #048353;
    }

    #donasi #masukkan-nominal {
        font-size: 15px;
        margin-bottom: 5px;
        color: rgb(80, 80, 80);
    }

    #input-nominal {
        border-radius: 4px;
        border: none;
        box-shadow: 0px 0px 4px #29452a7e;
        width: 100%;
        height: 5%;
        padding: 10px 15px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .btn-submit {
        text-align: right;
    }

    input[type=submit] {
        border: none;
        font-size: 16px;
        color: #fff;
        padding: 8px 16px;
        background-color: var(--pr-color);
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.1s ease-in;
        width: 150px;
    }

    .div-message {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #success {
        text-decoration: none;
        font-size: 10px;
    }

    #success:hover {
        color: #a7f8aa;
    }

    .success {
        background-color: #048353;
        color: #a7f8aa;
        width: fit-content;
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        transition: all .2s;
    }

    .success-hide {
        opacity: 0;
        transition: all .5s;
    }
    

    /* Footer */
    #footer {
      padding: 30px 20px;
      background-color: var(--pr-color);
    }

    #footer ul {
      margin-top: 0;
      padding: 0;
      list-style: none;
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 0;
    }

    #footer ul li a {
      text-align: center;
      color: #F3FFF4;
      text-decoration: none;
      opacity: 0.8;
    }

    #footer ul li a:hover {
      opacity: 1;
    }

    #footer ul li {
      display: inline-block;
      padding: 0 15px;
    }

    #footer .copyright {
      margin-top: 15px;
      text-align: center;
      font-style: 16px;
      color: whitesmoke;
    }

</style>
{% endblock css %}

{% block container %}
<section id="pembayaran" style="background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(/media/{{foto_donasi}});">

    <section id="donasi" class="glass">

        <a href="/donasi/" class="button-back">
            < Donasi</a>

        <h2>Pembayaran</h2>

        <h3>{{ nama_donasi }}</h3>
        <p id="deskripsi">{{ deskripsi_donasi }}</p>

        <p id="masukkan-nominal">Masukkan nominal donasi kamu:</p>

        <form id="bayar-donasi" method="POST">
            {% csrf_token %}
            {{ form }}
            <br>
            <div class="btn-submit">
                <input type="submit" value="Lakukan Donasi" onclick="return bayar()">
            </div>
        </form>

        <div class="div-message">
            <a id="success" class="success-hide">Terima kasih, donasi Anda telah kami terima!</a>
        </div>

    </section>
</section>

<script>
    function bayar() {
        const message = document.getElementById('success')

        fetch('/donasi/bayar/proses/{{id}}', {
            method: "POST",
            body: new FormData(document.querySelector('#bayar-donasi'))
        }).then()
        document.getElementById('input-nominal').value = ''
        message.classList.replace('success-hide', 'success')
        setTimeout(hapusMessage, 3000)
        return false
    }

    function hapusMessage() {
        const message = document.getElementById('success')
        message.classList.replace('success', 'success-hide')
    }

</script>
{% endblock container %}
