{% extends 'base_bayar_donasi.html' %}
{% load static %}
{% block css %}
<style>

    /* Pembayaran */
    #pembayaran {
        padding: 15vh 7vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .button-back {
        color: var(--pr-color);
        text-decoration: none;
        font-size: 3vmin;
    }

    .glass {
        background-color: rgba(246, 255, 247, 0.719);
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }

    /* Donasi */
    #donasi {
        padding: 20px 40px;
        margin: 40px;
        align-items: left;
        display: flex;
        flex-direction: column;
    }

    #donasi h2 {
        font-size: 5vmin;
        color: #29452a;
        font-weight: bold;
        margin-top: 10px;
    }

    #donasi h3 {
        font-size: 4vmin;
        color: var(--pr-color);
        color: #426246;
        margin-top: 7vmin;
        font-weight: bold;
    }

    #donasi #deskripsi {
        text-align: justify;
        font-size: 3vmin;
        margin-top: 1vmin;
        margin-bottom: 9vmin;
        color: rgb(80, 80, 80);
    }

    #donasi #nominal {
        font-size: 3vmin;
        font-weight: bold;
        color: #048353;
    }

    #donasi #masukkan-nominal {
        font-size: 3vmin;
        margin-bottom: 2vmin;
        color: rgb(80, 80, 80);
    }

    #input-nominal {
        border-radius: 4px;
        border: none;
        box-shadow: 0px 0px 4px #29452a7e;
        width: 100%;
        height: 5%;
        padding: 2vmin 3vmin;
        margin-bottom: 3vmin;
        font-size: 3vmin;
    }

    .btn-submit {
        text-align: right;
    }

    input[type=submit] {
        border: none;
        font-size: 3vmin;
        color: #fff;
        padding: 8px 16px;
        background-color: var(--pr-color);
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.1s ease-in;
        width: fit-content;
    }

    .div-message {
        text-align: center;
        margin-top: 3vmin;
        margin-bottom: 3vmin;
    }

    #success {
        text-decoration: none;
        font-size: 2vmin;
    }

    #success:hover {
        color: #a7f8aa;
    }

    .success {
        background-color: #048353;
        color: #a7f8aa;
        width: fit-content;
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        transition: all .2s;
    }

    .success-hide {
        opacity: 0;
        transition: all .5s;
    }

</style>
{% endblock css %}

{% block content %}
<section id="pembayaran" style="background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(/media/{{foto_donasi}});">

    <section id="donasi" class="glass">

        <a href="/donasi/" class="button-back">
            < Donasi</a>

        <h2>Pembayaran</h2>

        <h3>{{ nama_donasi }}</h3>
        <p id="deskripsi">{{ deskripsi_donasi }}</p>

        <p id="masukkan-nominal">Masukkan nominal donasi kamu:</p>

        <form id="bayar-donasi" method="POST">
            {% csrf_token %}
            {{ form }}
            <br>
            <div class="btn-submit">
                <input type="submit" value="Lakukan Donasi" onclick="return bayar('{{id}}')">
            </div>
        </form>

        <div class="div-message">
            <a id="success" class="success-hide">Terima kasih, donasi Anda telah kami terima!</a>
        </div>

    </section>
</section>

<script src="{% static 'js/bayar_donasi.js' %}"></script>
{% endblock content %}
