{% extends 'base_bayar_donasi.html' %}

{% block css %}
<style>
    /* Card Section */
    h2 {
      padding-bottom: 20px;
      text-align: center;
      font-weight: 500;
      color: var(--pr-color);
    }

    .donasi {
      padding: 100px;
    }

    .makanan {
      margin-top: 60px;
    }

    .pendidikan {
      margin-top: 100px;
    }

    .card {
      width: 100%;
      height: 100%;
      background-color: white;
      padding-bottom: 15px;
      border-radius: 8px;
      box-shadow: 0 0 7px 3px rgba(0,0,0,0.05);
    }

    .picture img {
      width: 100%;
      height: auto;
      border-radius: 8px 8px 0px 0px;
    }

    /* .picture {
      margin-top: auto;
      margin-bottom: auto;
    } */

    .card-content {
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: right;
    }

    .title {
      font-size: 20px;
      color: #000;
      text-align: left;
      font-weight: bold;
    }

    .author {
      font-size: 16px;
    }

    .target {
      margin-top: 20px;
      margin-bottom: 1px;
      font-size: 16px;
      color: #707070;
      text-align: left;
    }

    .terkumpul {
      margin-top: 1px;
      font-size: 16px;
      color: #707070;
      text-align: left;
    }

    .div-button {
      margin-top: 40px;
      text-align: right;
    }

    .button-card {
      border: none;
      font-size: 16px;
      color: #fff;
      padding: 8px 16px;
      background-color: var(--pr-color);
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.1s ease-in;
      width: 150px;
    }

    .button-card:hover {
      border: none;
      font-size: 16px;
      color: #fff;
      padding: 8px 16px;
      background-color: var(-scd-color);
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.1s ease-in;
    }

</style>
{% endblock css %}

{% block content %}


<!-- Donation Cards Section -->
<section id="donasi">
    <div class="donasi">
        <div class="row">
            <div class="col-12 col-md-12">
                <h2 class="makanan" style="text-align: left;">
                    Donasi Makanan
                </h2>
            </div>
        </div>

        <div id="card-makanan">
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <h2 class="pendidikan" style="text-align: left;">
                    Donasi Penyuluhan Pendidikan Gizi
                </h2>
            </div>
        </div>

        <div id="card-pendidikan">
        </div>        
    </div>
</section>

<script>
    
    async function getDataDonasi() {
        // return fetch("{% url 'donasi:get_data_donasi' %}").then((result) => result.json())
        $.getJSON("{% url 'donasi:get_data_donasi' %}", showDonasi);
    }

    async function showDonasi(json) {
        document.getElementById('card-makanan').innerHTML = ""
        document.getElementById('card-pendidikan').innerHTML = ""
        // const dataDonasi = await getDataDonasi()

        let cardMakanan = ``
        let cardPendidikan = ``
        let temp = ``
        let counterMakanan = 0
        let counterPendidikan = 0

        // dataDonasi.forEach(donasi => {
        $.each(json.data, function (index, donasi) {
            let rupiahIDR = Intl.NumberFormat("id", {
                style: "currency",
                currency: "IDR",
            });

            const target = rupiahIDR.format(`${donasi.fields.target}`)
            const terkumpul = rupiahIDR.format(`${donasi.fields.terkumpul}`)

            console.log(`${donasi.fields.nama}`)
                      
            temp = `\n
            <div class="col-12 col-md-4" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="picture">
                        <img src="${donasi.fields.urlFoto}">
                    </div>
        
                    <div class="card-content">
                        <div>
                            <h3 class="title">${donasi.fields.nama}</h3>
                            <p class="author">Digalang oleh: ${donasi.fields.penggalang}</p>
                            <p class="target">Target: ${target}</p>
                            <p class="terkumpul">Terkumpul: ${terkumpul}</p>
                        </div>

                          <div class="div-button">
                            <button class="button-card pull-right">
                                <a href="/donasi/bayar/${donasi.pk}" style="text-decoration: none; color: white;">
                                    Lihat Detail
                                </a>
                            </button>
                          </div>

                    </div>
                </div>
            </div>
            `

            if (donasi.fields.tipe == "Makanan") {
                if (counterMakanan%3 == 0) {
                    cardMakanan += `\n<div class="row">`
                }

                cardMakanan += temp
                counterMakanan++

                if (counterMakanan%3 == 0) {
                    cardMakanan += `\n</div>`
                }
            }
            
            if (donasi.fields.tipe == "Pendidikan") {
                if (counterPendidikan%3 == 0) {
                    cardPendidikan += `\n<div class="row">`
                }

                cardPendidikan += temp
                counterPendidikan++

                if (counterPendidikan%3 == 0) {
                    cardPendidikan += `\n</div>`
                }
            }    
        });

        document.getElementById('card-makanan').innerHTML = cardMakanan
        document.getElementById('card-pendidikan').innerHTML = cardPendidikan
    }

    getDataDonasi()
</script>

{% endblock content %}
